/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
} */

:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}

header {
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100vw;
    z-index: 100;
}

.header-wrapper {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    height: 70px;
    margin: 0px auto;
    max-width: 1320px;
    background-color: #fff;
}

.nav-links {
    display: flex;
    position: relative;
}

.header-logo {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: 1rem;
}

.header-logo-svg {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}

.header-links {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    color: rgb(23, 43, 77);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 1.25rem 1rem 1rem;
    user-select: none;
    border: 0px;
    background-color: transparent;
    gap: 0.25rem;
}

.header-pricing-link {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    color: rgb(23, 43, 77) !important;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 1.25rem 1rem 1rem;
    user-select: none;
    text-decoration: none;
}

/* nav a {
    margin: 0 1rem;
    color: #99ADB7 !important;
    text-decoration: none;
} */

.header-trello-started {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    margin-left: auto;
}

.responsive-started {
    display: none;
}

.header-trello-login {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    color: rgb(23, 43, 77) !important;
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

.header-trello-signup {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    color: rgb(23, 43, 77);
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

.header-btn-signup {
    background-color: rgb(0, 101, 255);
    color: rgb(255, 255, 255) !important;
}

nav a:hover {
    color: var(--secondaryColor);
}

.nav-menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #172b4d;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.bar {
    height: 3px;
    width: 26px;
    background: #172b4d;
    margin: 3px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.hamburger-open {
    transition: 0.8;
}

.hamburger-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* header div,
nav {
    display: flex;
    align-items: center;
} */

.nav-close-btn {
    /* display: none; */
}

header .nav-btn {
    /* display: none; */
}

@media (min-width:992px) {
.hamburger {
    display: none!important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
}

@media only screen and (max-width: 1000px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    /* .header-links {
        border-bottom: 1px solid rgb(223, 225, 230);
        min-height: 70px;
    }  */

    .nav-links {
        position: fixed;
        background-color: #fff;
        top: -114%;
        bottom: 60px;
        padding: 1rem;
        gap: 0;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.8s;
        z-index: -10;
        transform: translateY(-120%);
    }

    .nav-links>* {
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid rgb(223, 225, 230);
        display: flex;
        min-height: 70px;
        padding: 0;
    }

    .nav-links a.header-pricing-link:first-child {
        border-top: 1px solid rgb(223, 225, 230);
    }

    /* header nav {
        position: fixed;
                top: -100%;
        transform: translate(0)!important;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
        background-color: #fff;
        transition: 1s;
        display: none;
    }  */

    header .responsive_nav {
        transform: translateY(120%);
        transition: all 0.6s ease-in-out;
        border-top: 1px solid rgb(223, 225, 230);
    }

    .header-trello-started {
        display: none;
    }
    
    .header-trello-login {
        border: 1px solid rgb(0, 101, 255);
        color: rgb(23, 43, 77)!important;
        display: block;
        padding: 1rem;
        text-align: center;
    }

    .header-btn-signup {
        display: block;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
    }

    .responsive-started {
        display: block;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }

    .responsive-started .header-trello-signup {
        padding: 1rem;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .hamburger {
        display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: center;
    }

    /* .nav-btn {
        appearance: none;
            background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='1em' viewBox='0 0 13 8' width='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z' /%3E%3C/svg%3E")!important;
        background-position: right center;
            background-repeat: no-repeat;
            border: 0px;
                color: inherit;
                cursor: pointer;
                display: block;
                font-family: inherit;
                font-size: 1rem;
                padding-right: 1rem;
                position: relative;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
    } */

        .nav-close-btn {
            /* display: none; */
        }

    nav a {
        font-size: 1.5rem;
    }
}